# Dependencias
node_modules/

# Archivos de entorno (MUY importante)
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Build / producción
dist/
build/

# Archivos temporales
tmp/
temp/

# Certificados y llaves (seguridad)
*.key
*.crt
*.pem
*.csr

# IDE / Editor
.vscode/
.idea/